<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title> Todo App </title>
  
</head>
<body>
  
<!-- ------------ CRIANDO O FORMULÁRIO ----------- -->

  <h1> To Do App </h1>
  
  <form action="/create" method="POST">
    <input name="title">
    <button type="submit">
      Adicionar
    </button>
  </form>

  
<!-- ------ EXIBIÇÃO DA LISTA DE TO DO: ---------- -->
<!-- -esses % é pra fazer em python- -->
  
  <ul>
    {% for item in todos %}
      <li> {{item.title}} </li>
    {% endfor %} 
  </ul>

  
</body>
</html>